


<%- include('../partials/header') %> 



<div class="modal-container-wrapper">
   
    <div class="modal-container">
        <div class="modal-comment-product-comment-bttn-container">
            <div class="modal-comment-product-comment-bttn-wrapper">
           
            <span>X</span>
            </div>
        </div>
       this is the inner writeup of this modal
       
    </div>
</div>






</div>

<script type="module" src="js/modal.js"> </script>
<%- include('../partials/_footer') %>