
.about-college-container{
    /* border: 2px solid red; */
    min-height: 90vh;
    padding: 1%;
    display: flex;
    align-items: center;
    background-color:var(--background-color);
}

.about-college-writeup{
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    min-height: 60vh;
    width: 100%;
    color: var(--text-color);
    padding: 3%;
}

.about-college-writeup h2{
   font-size: 1.6rem;
   text-align: center;
}

.about-college-writeup p{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.8;
}

.about-college-writeup blockquote{
    font-size: 1.2rem;
}

.about-college-mission-container{
    /* border: 2px solid red; */
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    padding: 1%;
    background-color:var(--background-color);
    flex-wrap: wrap;
}

.about-college-mission-child{
    width: 22%;
    border: 1px solid var(--prim-border-color);
    background-color:var(--background-color);
    border-radius: 4px;
    padding: 1%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-college-mission-child-icon-contr{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-college-mission-child-icon{
    /* border: 1px solid blue; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-college-mission-child-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .about-college-mission-child-icon.mission{
    width: 80px;
}

.about-college-mission-child-icon.vision{
    
}
.about-college-mission-child-icon.values{
    width: 80px;
  
} */

.about-college-mission-child-header{
    text-align: center;
}

/* .about-college-mission-child-header h2{

} */

.about-college-mission-child-body{
 font-size: 1.2rem;
 text-align: center;
 line-height: 1.6;
}

.about-college-mission-child-body ul li{
    list-style-type: none;
}

/* block qoute */
.about-college-qoute-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 1%;
    position: relative;
    background-color:var(--background-color);
}

.about-college-qoute-container h1{
    font-style: italic;
    line-height: 1.618;
    font-size: 2em;
    width: 60%;
    position: relative;
    padding: 50px 100px;
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen','Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    position: relative;
}

.about-college-qoute-container h1::before {
    content: open-quote;
    /* Place it at the top-left */
    top: 2%;
    left: 2%;
  }
  
  .about-college-qoute-container h1::after {
   content: close-quote;
    /* Place it at thee bottom-right */
    bottom: 2%;
    right: 2%; 
  }

  .about-college-qoute-container h1::before,
  .about-college-qoute-container h1::after {
  background-color: #e4e4e4;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 2em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}

.about-college-qoute-button-container{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 2%;

}

.about-college-qoute-button-wrapper{
    /* border: 2px solid var(--prim-border-color)*/
    background-color: var(--no-color);
    width: 15%;
}
.about-college-qoute-button-wrapper button{
    width: 100%;
    height: 58px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--olive-green);
    color: var(--olive-green);
    color: var(--no-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.about-college-qoute-button-wrapper button:hover{
   cursor: pointer;
   box-shadow: 0 0 1px var(--box-shadow-color);
}

.about-college-contact-container{
    /* border: 2px solid red; */
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    padding: 1%;
}

.about-college-contact-child{
    width: 22%;
    /* border: 1px solid #707070; */
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbdbdb;
    background-color: var(--no-color);
    background-color:var(--background-color);
}

.about-college-contact-child.school-map{
    width: 75%;
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbdbdb;
    background-color: var(--no-color);
    background-color:var(--background-color);
}

/* map */
#map { 
    height: 500px; 
    z-index: 0;
    /* border: 1px solid red; */
}

/* .about-college-gallery-container{
    border: 2px solid red;
    min-height: 90vh;   
} */

@media only screen and (max-width: 1024px) {

    .about-college-writeup h2{
        font-size: 1.5rem;
    }

    .about-college-qoute-container h1{
        width: 80%;
    }

    .about-college-qoute-button-wrapper{  
        width: 19%;
    }

    .about-college-mission-child{
        width: 28%;
    }

    .about-college-qoute-button-wrapper button{ 
        height: 55px;
    }
    
}

@media only screen and (max-width: 600px) {

    .about-college-writeup h2{
        font-size: 1.5rem;
    }

    .about-college-qoute-container h1{
        width: 100%;
        font-size: 1.5rem;
    }

    .about-college-qoute-button-wrapper{  
        width: 35%;
    }

    .about-college-mission-child{
        width: 28%;
    }

    .about-college-qoute-button-wrapper button{ 
        height: 55px;
    }
    
}

@media only screen and (max-width: 480px) {

    .about-college-container{
       padding: 2%;
    }

    .about-college-writeup h2{
        font-size: var(--480px-h2-font-size);
        text-align: left;
    }

    .about-college-writeup h3{
        font-size: var(--480px-h3-font-size);
    }

    .about-college-writeup p{
        font-size: var(--480px-p-font-size);
        text-align: unset;
        line-height: var(--480px-p-line-height);
    }

    .about-college-qoute-container h1::before,
    .about-college-qoute-container h1::after {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 1.618;
        font-size: 1.6em;
        position: absolute;
    }

    .about-college-qoute-button-container{
        bottom: 0%;
        background-color: transparent;
    }

    .about-college-qoute-button-wrapper{  
        width: 60%;
        background-color: transparent;
    }

    .about-college-mission-container{        
        padding: 2%;
    }

    .about-college-mission-child{
        width: 100%;
        margin-bottom: 4%;
    }

    .about-college-mission-child-header h2{
        
        font-size: var(--480px-h2-font-size);
    }

    .about-college-mission-child-body{
        font-size: var(--480px-p-font-size);
        line-height: var(--480px-p-line-height);
    }
    
    .about-college-qoute-button-wrapper button{ 
        height: 45px;
        font-size: 0.95rem;
    }
    
}