
/* code credit goes to w3schools */
  /* Position the image container (needed to position the left and right arrows) */
  .about-college-gallery-container{
    position: relative;
    /* border: 2px solid red;*/
    overflow-x: visible;
    padding: 1%;
    width: 95%;
    margin: 0 auto;
  }

  .about-college-gallery-heading{
    text-align: center;
    color: var(--text-color);
  }

  .mySlides-container{
    position: relative;
    /* border: 1px solid blue; */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    min-height: 50vh;
    /* border: 2px solid red; */
  }

  .mySlides img{
    width: 100%;
    height: auto;
    /* border: 2px solid var(--prim-border-color); */
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0);
  }
  
  /* Number text (1/3 etc) */
  .number-text {
    color: black;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #ffffff;
  }
  
  .row{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* Six columns side by side */
  .column {
    width:16.66%;
    height: 100%;
    border: 1px solid var(--prim-border-color);
    flex: 0 0 auto;
  }

  .column img{
    width: 100%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  @media screen and (max-width: 480px) {

    .row{
      -webkit-overflow-scrolling: touch;
    }
  
    /* Six columns side by side */
    .column {
      width:25%;
    }

    .prev,
    .next { 
      padding: 8px;
      font-size: 15px;
    }

    .about-college-gallery-heading h2{
      font-size: var(--480px-h2-font-size);
    }

  }