
<%- include('../partials/header') %> 

<div class="error-404-container">

    <div class="error-404-wrapper">
        <div class="error-404-image">
            <img src="images/error404.png" alt="" >
        </div>

        <h2>
           Page not found
        </h2>
        <p>
            The link you followed is either broken or the page has been removed.
        </p>

    </div>

</div>

</div>
<%- include('../partials/_footer') %> 