<%- include('../partials/header') %> 

<div class="admission-container align-center custom-height">
    <div  class="admission-wrapper">
        <div class="admission-heading">
            <h2>Entry Requirement</h2>
        </div>
        <div class="admission-writeup">
            <p>
                There are certain criterias otherwise known as entry requirements, which the school feels 
                have to be met by any interested applicant, before he/she will be able to run a programme 
                of his/her choice with us. It is of outmost importance, that anyone having interest in 
                enrolling in a programme, be aware of these criterias (entry requirements).
            </p>

            <p>
                Interested candidates must have a minimum of five (5) O'Level Credit Pass in English Language, 
                Mathematics, Chemistry, physics, and Biology/Health Science. Social Science students who have
                Credit in Biology and Geography can also apply for Health Education and Promotion programme.
                For more details, kindly go through the entry requirements provided below.
            </p>
        </div>
    </div>
  
</div>

<div class="requirements-table-container">

    <table class="requirements-table" cellpadding="5%" cellspacing="0">
        <caption>Entry Requirement</caption>

        <thead>
            <tr>
                <th><b>S/NO</b></th>
                <th><b>COURSE OF STUDY</b></th>
                <th><b>DURATION</b></th>
                <th><b>ENTRY REQUIREMENT</b></th>
                <th><b>CERTIFICATION</b></th>
            </tr> 
        </thead>

        <tbody>
            <tr>
                <td>1.</td>
                <td>PUBLIC HEALTH NURSING </td>
                <td>THREE YEARS</td>
                <td>
                    <div>
                    At least Credit in either WAEC, NECO or GCE, NABTEB in English, 
                    Mathematics, Biology, Chemistry and Physics at not more than two sittings.
                    </div>
                </td>
                <td>ND IN PUBLIC HEALTH NURSING</td>
            </tr>

            <tr>
                <td>2.</td>
                <td>ENVIRONMENTAL HEALTH TECHNOLOGY</td>
                <td>FOUR YEARS</td>
                <td>
                    <div>
                    At least Credit in either WAEC, NECO, GCE, NABTEB or Teacher Grade II in 
                    English Language, health Science or Biology, Chemistry, Physics 
                    and Mathematics at not more than two sittings. Or
                    </div>  
                </td>
                <td>HND IN ENVIRONMENTAL HEALTH TECHNOLOGY</td>
            </tr>

            <tr>
                <td>3.</td> 
                <td> ENVIRONMENTAL HEALTH TECHNICIAN </td>
                <td>THREE YEARS</td>
                <td>
                    <div>
                    At least Credit in either WAEC, NECO, GCE, NABTEB in English
                    Language, Biology, and any other Science/Social science 
                    subject at not more than 2 sittings. or Teacher Grade II 
                    </div>   
                </td>
                <td>ND IN ENVIRONMENTAL HEALTH TECHNICIAN</td>
            </tr>

            <tr>
                <td>4.</td> 
                <td> ENVIRONMENTAL HEALTH ASSISTANT </td>
                <td>TWO YEARS</td>
                <td>
                    <div>
                    At least pass in either WAEC, NECO, GCE, NABTEB 
                    in any of the following: English, Health Science, Nutrition, 
                    Technical Drawing, Biology, Chemistry, Geography, Economics. 
                    at not more than 2 sittings. Or Teacher Grade II at merit
                    </div>                   
                </td>
                <td>DIPLOMA IN ENVIRONMENTAL HEALTH ASSISTANT</td>
            </tr>

            <tr>
                <td>5.</td> 
                <td>HEALTH EDUCATION AND PROMOTION </td>
                <td>TWO YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in English Language, Mathematics, Biology or Health Science, 
                    an any other science subject at not more than 2 sittings. 
                    Or Teacher Grade II at merit
                  </div>  
                </td>
                <td>DIPLOMA IN HEALTH EDUCATION AND PROMOTION</td>
            </tr>

            <tr>
                <td>6.</td> 
                <td> HEALTH INFORMATION MANAGEMENT</td>
                <td>TWO YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, NABTEB  
                    in English, Mathematics, Biology or Health Science, Chemistry or Physics 
                    and any other subjects
                    at not more than 2 sittings. Or Teacher Grade II at merit.
                    </div> 
                </td>
                <td>PD IN HEALTH INFORMATION MANAGEMENT</td>
            </tr>

            <tr>
                <td>7.</td> 
                <td>COMMUNITY HEALTH EXTENSION WORKER </td>
                <td>THREE YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in English, Mathematics, Biology, Chemistry, Physics 
                    at not more than 2 sittings.
                    </div>  
                </td>
                <td>ND IN COMMUNITY HEALTH EXTENSION WORKER </td>
            </tr>
            
            <tr>
                <td>8.</td> 
                <td>MEDICAL LABORATORY SCIENCE</td>
                <td>THREE YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in English, Mathematics, Biology, Chemistry, Physics
                    at not more than 2 sittings.
                    </div>  
                </td>
                <td>ND IN MEDICAL LABORATORY SCIENCE</td>
            </tr>

            <tr>
                <td>9.</td> 
                <td>NUTRITION AND DIETIC</td>
                <td>THREE YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in English, Mathematics, Biology, Chemistry, Physics
                    at not more than 2 sittings.
                    </div> 
                </td>
                <td>ND IN NUTRITION AND DIETIC</td>
            </tr>

            <tr>
                <td>10.</td> 
                <td>DENTAL HEALTH</td>
                <td>THREE  YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in Biology, English Language, Mathematics, 
                    Chemistry/Physics at not more than 2 sittings.
                    </div>
                </td>
                <td>ND IN DENTAL HEALTH</td>
            </tr>

            <tr>
                <td>10.</td> 
                <td>PHARMACY TECHNICIAN</td>
                <td>THREE  YEARS</td>
                <td>
                    <div>
                    At least credit in either WAEC, NECO, GCE, NABTEB 
                    in Physics, Chemistry, Biology, English Language, Mathematics, 
                    at not more than 2 sittings.
                    </div>  
                </td>
                <td>ND IN PHARMACY TECHNICIAN</td>
            </tr>

        </tbody>

        <tfoot>

        </tfoot>

    </table>
</div>
</div>
<%- include('../partials/_footer') %>