
<%- include('../partials/header') %> 
<!-- <div class="container"> -->


    <div class="index-advert-container">
        <div class="index-advert-wrapper">
            <div class="index-advert-content" >
                <h3>Admission! Admission!! Admission!!!</h3>
                Kumase College of Health Technology is currently offering admissions 
                for the 2022/2023 academic session.
                <div>
                    Sale of forms last till <span class=""> 
                    7<sup>th</sup> May 2022</span>, the same day the entrance 
                    examination has been scheduled to take place.
                    
                </div>
                <div>
                    For more enquiries call us on any of these numbers: 08136745730, 08100217704, 08093456430.
                </div>
                <div>
                   <a href="/e-application">Get more details</a>
                </div>
     
            </div>
     
            <div class="advert-close">
                X
            </div>
     
        </div>    
    </div> 

    <div  class="background-image-container">
        <div class="index-slider-child left">
            <div class="index-intro-text-container">
                <div>Kumase College Of Health Technology Makurdi</div>
                <p>Preparing students for the 21<sup>st</sup> century health demands using well thought out and researched approaches</p>
                <div class="index-intro-text-buttons-container">
                    <div class="index-intro-text-button-wrapper apply">
                        <a href="/e-application"><button>Apply</button></a>
                        
    
                    </div>
                    <div class="index-intro-text-button-wrapper">

                        <a href="/contact"><button>Contact us</button></a>
                        
                    </div>
                </div>
            </div>
    
        </div>
        <div class="index-slider-child right">
            <div>
                <a href="#" title="twitter" >
                    <i class="fa fa-twitter" ></i>
                </a>
            </div>

            <div>
                <a href="#" title="instagram" >
                    <i class="fa fa-instagram" ></i>
                </a>
            </div>

            <div>
                <a href="#" title="facebook">
                    <i class="fa fa-facebook" ></i>
                </a>

            </div>

           
    
        </div>

    </div>
    

    <div class="index-courses-search-container">

        <div class="index-courses-search-wrapper">

        <div class="index-courses-search-bar">

            <div class="index-courses-search-bar-header">
                <!-- <h3>Search For Courses</h3> -->
                <!-- <h2>Advance your career in health with the following courses</h2> -->
                <h2>Courses offering</h2>
            </div>
            <form class="searchForm" method="POST" action="">
                <input type = "text" name="searchCourseQuery" id="searchCourses" placeholder="Search for courses"/>
                <button type="submit" >
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="index-courses-search-bar-report-container">
                <div class="index-courses-search-bar-report">
                    <!-- <div class="index-courses-search-bar-report-close">
                        <span class="close-search">X</span>
                    </div> -->
                  <div class="index-courses-search-bar-report-result">
                     
                  </div>
                </div>
            </div>

        </div>

        <div class="modal-container-wrapper">
           
                <div class="modal-bttn-wrapper">
                    <span> X </span>
                </div>
            
   
            <div class="modal-container">
                
                <!-- <div class="modal-content">
                    
                </div> -->
           
 
            </div>

        </div>
       

        <div class="index-courses-container">


        </div>

        <div class="index-view-more-course-button-container">
            <div class="index-view-more-course-button-wrapper"> 
                <button class="view-more-courses">View More Courses</button> 
                <button class="view-less-courses">View Less Courses</button> 
            </div>
        </div>

        </div>
        
    </div>

    <div class="index-about-container">
        <div class="index-about-provost-remarks-container">
            <div class="index-about-provost-remarks-wrapper">

                <div  class="index-about-provost-remarks-picture-container">
                    <!-- <img src = "images/provost.jpg" alt = "provost img" />
                    <figcaption class="index-provost-image-caption">
                        <cite class="index-provost-image-cite">
                          <strong class="index-provost-image-name">
                            Philip Angwin, 
                          </strong>
                          <span class="index-provost-image-title">
                             Provost Kumase college of health technology
                            </span>
                        </cite>
                      </figcaption> -->
                    <figure class="index-provost-image">
                        <img src = "images/provost-crop-min.jpg" alt = "provost img" loading ="lazy" />
                       
                        <figcaption class="index-provost-image-caption">
                            <cite class="index-provost-image-cite">
                              <strong class="index-provost-image-name">
                                Orayima Philip .T, 
                              </strong>
                              <span class="index-provost-image-title">
                                 Provost Kumase college of health technology
                                </span>
                            </cite>
                          </figcaption>
                      </figure>
                 </div>


                 <div  class="index-about-provost-remarks-writeup">
                    <p>
                        On behalf of the governing board, the academic board, the management and the entire staff, 
                        I am delighted to warmly welcome you to Kumase College of Health Technology Makurdi. The 
                        courses offered here have attained affiliation with the relevant body/Institution and the 
                        college has also entered into a Memorandum of Understanding with government hospitals and 
                        specialist hospitals and as such we are secured to utilize both federal hospitals, state hospitals 
                        and some private health centers as practical areas for the institution respectively. I wish you God's guidance 
                        and a successful stay on the College. Once again you are welcome
                    </p>
                 </div>

            </div>
           

        </div>

        <div class="index-about-remarks-container">
            <div class="index-about-remarks-wrapper">
               
                <div class="index-about-remark">
                    <div class="Testimonial" data-sal="" data-sal-once="">
                        <div class="Testimonial-image">
                            <img src = "images/avatar3.png" alt="">
                        </div>
                        <figure class="Testimonial-bubble">
                          <blockquote class="Testimonial-quote">
                            <b>“ </b>The guidance here is amazing, 
                            The learning experience is something I'm enjoying at the moment. 
                            No regrets so far<b> ”</b>
                            <figcaption class="Testimonial-caption">
                                <cite class="Testimonial-cite">
                                  <strong class="Testimonial-cite-name">
                                    Terver Aron, 
                                  </strong>
                                  <span class="Testimonial-cite-title">
                                      student
                                    </span>
                                </cite>
                              </figcaption>
                          </blockquote>
                          
                        </figure>
                      </div>

                </div>

                <div class="index-about-remark">
                    <div class="Testimonial" data-sal="" data-sal-once="">
                        <div class="Testimonial-image">
                            <img src = "images/avatar3.png" alt="">
                        </div>
                        <figure class="Testimonial-bubble">
                          <blockquote class="Testimonial-quote">
                            <b>“ </b>I came here with one aim, to get intensive training and I am getting just that<b> ”</b>

                            <figcaption class="Testimonial-caption">
                                <cite class="Testimonial-cite">
                                  <strong class="Testimonial-cite-name">
                                    Dahiru Hassana Baba, 
                                  </strong>
                                  <span class="Testimonial-cite-title">
                                      student
                                    </span>
                                </cite>
                              </figcaption>
                          </blockquote>
                          
                        </figure>
                      </div>

                </div>

                <div class="index-about-remark">
                    <div class="Testimonial" data-sal="" data-sal-once="">
                        <div class="Testimonial-image">
                            <img src = "images/avatar3.png" alt="">
                        </div>
                        <figure class="Testimonial-bubble">
                          <blockquote class="Testimonial-quote">
                            <b>“ </b>The place is nice, the people are caring I love th training techniques they use here.<b> ”</b>

                            <figcaption class="Testimonial-caption">
                                <cite class="Testimonial-cite">
                                  <strong class="Testimonial-cite-name">
                                    Sani Abdulmumun Harira, 
                                  </strong>
                                  <span class="Testimonial-cite-title">
                                      student
                                    </span>
                                </cite>
                              </figcaption>
                          </blockquote>
                          
                        </figure>
                      </div>

                </div>



                
            </div>
            

        </div>

       
        
    </div>


    <div class = "about-college-qoute-container">
   

        <h1>
          Training And Preparing Students For The 21<sup>st</sup> Century Health Demands And Needs
        </h1>
    
        
        <!-- <blockquote>
          Training And Preparing Students For The 21<sup>st</sup> Century Health Demands And Needs
        </blockquote> -->
    
        <div class = "about-college-qoute-button-container"> 
          <div class = "about-college-qoute-button-wrapper">
              <a href="/e-application"><button> Apply </button></a>
            
          </div>
        </div>
    
      </div>

   <div class="index-blog-component-wrapper">
       <div class="index-blog-component-header">
           <h2>Events</h2>
       </div>
    <%- include('../partials/_blog_post') %> 
   </div>
       
       
   



<!-- close container opened in header -->
</div>
<script type="module" src="js/searchForCourses.js"> </script>
<script type="module" src="js/showCourses.js"> </script>
<script src="js/index.js"> </script>
<!-- <script type="module" src="js/indexBlog.js"> </script> -->
<!-- <script type="module" src="js/viewCourse.js"> </script> -->

<%- include('../partials/_footer') %> 


