








<!-- </div> -->
<footer>
    <!-- first column -->
    <div class="footer-content">
<!-- fisrt -->
      <div class="ft-main-item-container">

        <div class="ft-main-item">

          <h2 class="ft-title">About</h2>

          <span><a href="/about">School</a></span>
          <span><a href="/departments">Departments</a></span>
          <span><a href="/entry-requirements">Entry requirements</a></span>
          <span><a href="#">Facilities</a></span>
          
        </div>
        <!-- footer social -->
        <div class="ft-main-item-social-container">
          <span>
            <a href="#" title="twitter" >
              <i class="fa fa-twitter" ></i>
          </a>
          </span>
          <span>
            <a href="#" title="facebook" >
              <i class="fa fa-facebook" ></i>
          </a>
          </span>
          <span>
            <a href="#" title="twitter" >
              <i class="fa fa-instagram" ></i>
          </a>
          </span>

          <!-- <span><a href="#">FB</a></span> -->
        </div>

      </div>

      <!-- second -->

      <div class="ft-main-item-container">
        <div class="ft-main-item">
          <h2 class="ft-title">Quick Links</h2>

          <span><a href="/e-application">E-application</a></span>
          <!-- /students/portal -->
          <span><a href="#">Student portal</a></span>
          <span><a href="/admissions">Admissions</a></span>
          <span><a href="/blog">Blog</a></span>

        </div>
         
      </div>

      
<!-- third -->
        <div class="ft-main-item-container">
          <div class="ft-main-item">

            <h2 class="ft-title">Contact Us</h2>
            <p>Kumase college of health technology, Wadata, Makurdi, Benue state. </p>
            <p>08136745730, 08093456430</p>
            <p>kuchtech01@gmail.com</p>

            <!-- <span><a href="#">Services</a></span>
            <span><a href="#">Portfolio</a></span>
            <span><a href="#">Pricing</a></span>
            <span><a href="#">Careers</a></span> -->

          </div>
           
        </div>
         
        

    </div>

    <!-- second column  -->
    <div class="footer-copyright">
      <div class="ft-legal-list">
        <!-- <span><a href="#">Terms &amp; Conditions</a></span> -->
        <span><a href="#">Privacy Policy</a></span>
        <span><a href="#">Developed by Humbe Jeffrey</a></span>
        <span><a>&copy; <%= `${ new Date().getFullYear() } Copyright Kumase College Of Health technology` %> </a></span>

      </div>
        <!-- <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Developed by Humbe Jeffrey</a></li>
            <li><a>&copy; 2020 Copyright Kumase College Of Health technology</a></li>
          </ul> -->

    </div>
</footer>


</body>
</html>
