








<!-- </div> -->
<footer class="portal-footer">
    <!-- first column -->
    <div class="footer-content">
        <div class="ft-main-item">
            <h2 class="ft-title">About</h2>
            <ul>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Resources</h2>
            <ul>
              <li><a href="#">Docs</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">eBooks</a></li>
              <li><a href="#">Webinars</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Contact</h2>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">Advertise</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Services</h2>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">Advertise</a></li>
            </ul>
          </div>
    </div>

    <!-- second column  -->
    <div class="footer-copyright">
        <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Developed by Humbe Jeffrey</a></li>
            <li><a>&copy; 2020 Copyright Kumase College Of Health technology</a></li>
          </ul>

    </div>
</footer>


</body>
</html>
