




 <!-- Container for the image gallery -->
 <div  class = "about-college-gallery-container">
     <div class="about-college-gallery-heading">
         <h2>Gallery</h2>
     </div>
     <!-- here -->
     
  
    <!-- Thumbnail images -->
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="images/staff-min.jpg" loading="lazy"  onclick="currentSlide(1)" alt="The provost with some academic staff of the school">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/students-matric7-min.jpg" loading="lazy"  onclick="currentSlide(2)" alt="Some matriculating students of 2021/2022 academic session">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/provost3.jpg" loading="lazy"  onclick="currentSlide(3)" alt="The provost, deputy provost admin and a staff of the school">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/students-matric-oath5-min.jpg"  loading="lazy" onclick="currentSlide(4)" alt="some Matriculating students of 2021/2022 academic session taking their oaths of conduct">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/staff2-min.jpg" loading="lazy"  onclick="currentSlide(5)" alt="The provost with some academic staff of the school">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/student-matric4-crop-min.jpg" loading="lazy"  onclick="currentSlide(6)" alt="Some matriculating students of 2021/2022 academic session posing for a picture with a staff of the school">
      </div>

      <div class="column">
        <img class="demo cursor" src="images/students-matric-oath4-min.jpg" loading="lazy"  onclick="currentSlide(7)" alt="Some matriculating students of 2021/2022 academic session taking their oaths of conduct">
      </div>
      
    </div>
     <!-- Image text -->
     <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Full-width images with number text -->
    <div class="mySlides-container">
    <div class="mySlides">
      <div class="numbertext">1 / 7</div>
        <img src="images/staff-crop-min.jpg" alt="Some staff of the college" loading="lazy">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 7</div>
        <img src="images/students-matric7-crop-min.jpg" alt="" loading="lazy">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 7</div>
        <img src="images/provost3.jpg" alt="" loading="lazy">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">4 / 7</div>
        <img src="images/students-matric-oath5-crop-min.jpg"  alt="" loading="lazy">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">5 / 7</div>
        <img src="images/staff2-min.jpg" alt="" loading="lazy" >
    </div>
  
    <div class="mySlides">
      <div class="numbertext">6/ 7</div>
        <img src="images/student-matric4-crop-min.jpg" alt="" loading="lazy">
    </div>

    <div class="mySlides">
      <div class="numbertext">7 / 7</div>
        <img src="images/students-matric-oath4-crop-min.jpg" alt="" loading="lazy">
    </div>



    </div>
   
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
   
  </div> 
  <script  src="js/slideShowGallery.js"> </script>