





<%- include('../partials/header') %> 

<div class="admission-container align-center">
    <div  class="admission-wrapper">
        <div class="admission-heading">
            <h2>Gaining Admission Into Kumase College Of Health Technology</h2>
        </div>
        <div class="admission-writeup">
            <p>
                The various Heads of Departments are respomsible for short listing 
                applicants of their respective departments for aptitude test. Candidates 
                who pass and successfully scale through this first proccess (test) are 
                required to attend an interview and screening with all original copies 
                of the credentials they used for/during the application process. All 
                successful candidates are offered admission into the various courses 
                respectively.
            </p>
        </div>
    </div>
    
</div>


</div>
<%- include('../partials/_footer') %>