





<%- include('../partials/header') %> 

<div class="admission-container">
    <div  class="admission-wrapper">
        <div class="admission-heading">
            <h2>Gaining Admission Into Kumase College Of Health Technology</h2>
        </div>
        <div class="admission-writeup">
            <p>
                Various heads of department should short list applicant of their departments for aptitude test. 
                Successful candidates may be required to attend interview with original copies of their 
                credentials successful candidates are offered admission into the various courses.
            </p>
            <!-- <p>
                lorem ispium accordance du la priset et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
            </p> -->
        </div>
    </div>
    
</div>


</div>
<%- include('../partials/_footer') %>