










<%- include('../partials/header') %> 

  <div class = "about-college-container">
    <div class = "about-college-writeup">
      <h2>
        About us
      </h2>
      <h3>History</h3>
      <p>
        Dependence on government on all spheres of life is no longer feasible. 
        Government and non-governmental organizations including well meaning 
        individuals have to embark on a number of strategies to compliment 
        government efforts in all aspects of human endeavors. The health sector 
        is the most delicate, as it centre’s on the survival of the society. 
        Despite the existence of a college or schools of Health Technologies in 
        each state of the Federation, as well as some private/community initiatives 
        in establishing same in the country, still there is need of establishment of 
        such schools due to the much growing populace. In order to cater for the over 
        increasing needs of the society coupled with the location imbalances of the 
        colleges/school hence the idea of the establishment of Kumase College of health 
        technology LTD, in Benue by like minded individuals.  
        It shortage of Health personnel's amongst its educational programmes, it brings  
        the ideal of establishing  kumase College of Health Technology to complement government 
        effort in producing trained health personnel not only to produce health personnel 
        but to create Job opportunities for Nigerians.
      </p>

       <h3>Academics</h3>
      <p>
        The college operates semester system with departments. Currently the college run 
        the following departments
      </p>

        <p>
          <b>Public Health  Department</b> <br /><br />

           i) Public Health Nursing (PHN) <br />
          A Diploma course with the duration of three (3) years (six semesters).<br /> <br />

           ii) Environmental Health Technology (EHT)<br />
          HND Course with the duration of four (4) years. <br /> <br />

          iii) Environmental Health Technician (EVT) <br />
          A Diploma course with the duration of three (3) years.<br /><br />

          iv) Environmental Health  Assistant (EHA) <br />
            Certificate course with the duration of two (2) years.

        </p>

        <p>
           <b>Health Education And Promotion </b> <br /> <br /> 
          Diploma in Health Education and promotion, (DHEP) with the Duration of two (2) Years, 
         
        </p>

        <p>
          <b> Health Information Management</b> <br /><br /> 
          Professional Diploma with the  duration of three (3) years 
        </p>

        <p>
          <b>Community Health Department</b> <br /><br /> 
           i) Diploma course <br />
            A Duration of three (3) years (six semesters). <br /> <br /> 

           ii) Certificate course<br />
            A Duration of two (2) years. 
            <!-- Entry requirement: WAEC, NECO or Teacher Grade II at merit not 
            more than 2 sitting five passes in any of the following: English, Health Science, Nutrition, 
            Technical Drawing: Biology, Chemistry, Geography, Economic. -->
        </p>

        <p>
          <b>Medical Laboratory Science Department</b><br /> <br /> 
          A Diploma course with the Duration of three (3) years (six semesters).
        </p>

        <p>
          <b>Pharmacy Department</b><br /> <br /> 
          A Diploma course with the Duration of three (3) years (six semesters).
        </p>

        <p>
          <b>Nutrition and Dietic Department</b><br /><br /> 
          A Diploma course with the Duration of three (3) years (six semesters). 
        </p>

        <p>
          <b>Dental Health Department</b><br /> <br /> 
          A Diploma course with the duration of three (3) years (six semesters). 
        </p>

       <h3>Mode of admission</h3>
       <p>
         
        Various heads of department should short list applicant of their departments for aptitude test. 
        Successful candidates may be required to attend interview with original copies of their credentials 
        successful candidates are offered admission into the various courses. 
       </p>

    </div>

  </div>

  <div class = "about-college-mission-container">

    <div class = "about-college-mission-child">
      <div class = "about-college-mission-child-icon-contr">
        <div class = "about-college-mission-child-icon vision"><i>VS</i></div>
      </div>

     <div class = "about-college-mission-child-header vision">
       <h2>Vision</h2>
     </div>

     <div class = "about-college-mission-child-body">
       To promote health care devilery service through training and retraining of health personnel.
     </div>

    </div>

    <div class = "about-college-mission-child">
      <div class = "about-college-mission-child-icon-contr">
        <div class = "about-college-mission-child-icon mission"><i>MS</i></div>
      </div>

      <div class = "about-college-mission-child-header mission">
        <h2>Mission</h2>
      </div>
 
      <div class = "about-college-mission-child-body">
        To preserve, promote, improve the health and well beign of population, 
        individauls and communities in education, research and service 
      </div>
    </div>

    <div class = "about-college-mission-child">
      <div class = "about-college-mission-child-icon-contr">
        <div class = "about-college-mission-child-icon goals"><i>GO</i></div>
      </div>

      <div class = "about-college-mission-child-header goals">
        <h2>Goals</h2>
      </div>
 
      <div class = "about-college-mission-child-body">
        Lorem ispium colage du martin set uit pre luop met 
        abt du la chnk res puin nuit cat fec suiep prnimn du la check
      </div>
    </div>

  </div>
 

  <!-- <div class = "about-college-contact-container">

    <div class = "about-college-contact-child">
      <div class="contact-address-writeup">

        <h2>
           You can contact or reach out to us using any of the following address
        </h2>
        <p>Beside Jolua hospital wadata, makurdi, Benue state.</p>
        <p>+456-43545-4545-78</p>
        <p>kuch@gmail.com</p>

      </div>
    </div>

    <div class = "about-college-contact-child school-map">
      <div id="map"></div>
    </div>

    

    <div class = "about-college-contact-child">
    3
    </div>

  </div> -->

  <%- include('../partials/_slideShowGallery') %> 
 

</div>

<%- include('../partials/_footer') %>

<!-- <script crossorigin="anonymous" src="js/map.js" charset="utf-8"> </script> -->
<!-- <script type="module" src="js/bundle.js"> </script> -->
