






<%- include('../partials/header') %> 

<div class="admission-container">
    <div  class="admission-wrapper">
        <div class="admission-heading">
            <h2>Applications for <%= new Date().getFullYear() %>/<%= new Date().getFullYear() + 1 %> session</h2>
        </div>
        <div class="admission-writeup">
            <p>
                lorem ispium accordance du la priset et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
            </p>
            <p>
                lorem ispium accordance du la <a href="/entry-requirements">entry requierments</a> et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit un la
                lorem ispium accordance ent mater duet cunt prudent la suit
                lorem ispium accordance prek la va kuma kwagh u sha ter
                lorem ispium accordance du la priset et la chapinuit
                lorem ispium accordance du la priset et la chapinuit
            </p>
        </div>
    </div>
    
</div>




</div> 
<%- include('../partials/_footer') %>