
<%- include('../partials/header') %> 

<div class="admission-container align-center">
    <div  class="admission-wrapper">
        <div class="admission-heading">
            <h2>Applications for <%= new Date().getFullYear() %>/<%= new Date().getFullYear() + 1 %> session</h2>
        </div>
        <div class="admission-writeup">
            <p>
                Admissions for the 2022/2023 academic session is in progress and all 
                intrested candidates are encouraged to pick up their application forms 
                for a cost fee of <span class="e-application-form-price">four thousand 
                naira (#4,000)</span> only at the school premises for now, as we 
                currently work on a digital solution which will enable intrested 
                candidates apply directly from this site.
            </p>
            <p>
                Please do endeavuor to go through the entry requirements
                <i class="fa fa-link"></i><a href="/entry-requirements">entry requierments</a> 
                to know what grades you need have for the programme you intend to run.  
            </p>

            <p>
                <strong>
                    Important:
                </strong>
            </p>
            <ul>
                <li>
                    Sale of forms last till <span class="e-application-form-price"> 
                    7<sup>th</sup> May 2022</span>, the same day the entrance 
                    examination has been scheduled to take place.
                </li>
                <li>
                    All applicants/candidates are to come along with writing materials, 
                    entrance examination fee of <span class="e-application-form-price">
                    one thousand five hundred naira (#1,500)</span> only and original 
                    credentials on entrance examination day.

                </li>
            </ul>
 
        </div>
    </div>
    
</div>




</div> 
<%- include('../partials/_footer') %>